:root {
    --color-debug: #ff0000;
    --color-page-background: #1f1f1f; 
    --color-menu-background: #181818;
    --color-border: #2a2a2a;
    --color-icon-unselected: #6b6b6b;
    --color-icon-selected: #d7d7d7;
    --color-text-linenumber: #6e7681;
    --color-text-code: #cccccc;
    --color-text-keyword: #286bcc;
    --color-text-funcname: #dcdcaa;
    --color-text-varname: #68cdfe;
    --color-text-string: #ce916a;
    --color-text-string-hover: #ecb38f;
    --color-blockline: #404040;
    --color-bracket-1: #ffc814;
}

body {
    border: 1px solid var(--color-border);

    background-color: var(--color-page-background);
    margin: 0;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;

    display: flex;
    flex-direction:row;
    
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: fl;
    align-items: center;
    height: 100%;
    width: 100%;
}

header {
    border: 1px solid var(--color-border);
    background-color: var(--color-menu-background);
}

.sidebar {
    width: 50px;
    height: 100%;

    display: flex;
    flex-direction: column;

}

.sidebar .link-button {
    background-color: transparent;
    border: none;
    padding: 12px;

}

.sidebar .link-button svg {
    color: var(--color-icon-unselected);
}

.sidebar .link-button:hover svg {
    color: var(--color-icon-selected)
}

.tabsbar {
    width: 100%;
    height: 40px;
    background-color: var(--color-menu-background);
    display: flex;
    overflow-y: visible;
}

.tabsbar .tab {
    box-sizing: border-box;
    background-color: var(--color-page-background);
    height: 102%;
    border-right: 1px solid var(--color-border);
    width: auto;
    color: var(--color-icon-unselected);
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: var(--color-page-background);
}

.pathbar {
    width: 97%;
    height: 20px;
    padding-left: 30px;
    color: var(--color-icon-unselected);
}

.doc {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background-color: var(--color-page-background);
}

.doc .linenums {
    width: 50px;
    height: 100%;
    text-align: right;
    padding-right: 10px;
    color: var(--color-text-linenumber); 
    font-family: Consolas, monospace;
}

.doc .code {
    padding-left: 10px;
    color: var(--color-text-code);
    font-family: Consolas, monospace;
}

.doc .code .code-block {
    border-left: 1px solid var(--color-blockline);
    padding-left: 30px;

}

.code .keyword {
    color: var(--color-icon-unselected);
    transition: color 0.25s ease;
    display: inline-block;
}

.code .keyword:hover {
    color: var(--color-text-keyword);
}

.code .funcname {
    color: var(--color-icon-unselected);
    transition: color 0.25s ease;
    display: inline-block;
}

.code .funcname:hover {
    color: var(--color-text-funcname);
}

.code .bracket1 {
    color: var(--color-icon-unselected);
    transition: color 0.25s ease;
    display: inline-block;
}

.code .bracket1:hover {
    color: var(--color-bracket-1);
}

.code .varname {
    color: var(--color-icon-unselected);
    transition: color 0.25s ease;
    display: inline-block;
}

.code .varname:hover {
    color: var(--color-text-varname);
}

.code .operator {
    color: var(--color-icon-unselected);
    transition: color 0.25s ease;
    display: inline-block;
}

.code .operator:hover {
    color: var(--color-text-code);
}

.code .string {
    color: var(--color-text-string);
    transition: color 0.2s ease, transform 0.3s ease;
    display: inline-block;
}

.code .string:hover {
    color: var(--color-text-string-hover);
    transform: scale(1.2);
    background-color: rgba(129, 90, 65, 0.4);
}